.header {
  background-color: #76ba99;
}
.logo {
  width: 350px;
  padding: 50px 0;
  margin-left: auto;
  margin-right: auto;
}
.main {
  background-color: #fcf8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 30px;
}
.photoMinina {
  width: 140px;
  cursor: pointer;
  margin-bottom: 70px;
}
.photoHome {
  width: 200px;
  margin-bottom: 70px;
  cursor: pointer;
}
.name_item {
  color: #76ba99;
  font-size: 30px;
  font-weight: 600;
  &:hover {
    color: #ecb390;
  }
}

.footer {
  background-color: #ecb390;
  padding: 50px 0 50px 20px;
}
